{% extends "base_generic.html" %}

{% load widget_tweaks %}

{% block content %}
    {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

    <div class="bd-example">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class+="form-control"%}
        </div>
    {% endfor %}
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>
</div>


  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}" class="btn btn-warning">Lost password?</a></p>

{% endblock %}