{% extends 'base_generic.html' %}

{% block content %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{ object.username }}</strong>
          <h3 class="mb-0">{{ object.first_name }}</h3>
        <h3 class="mb-0">{{ object.last_name }}</h3>
          <p class="card-text mb-auto">{{ object.biography }}</p>

            {% if request.user == object %}
              <a href="{% url "example:user_update" %}" class="icon-link gap-1 icon-link-hover stretched-link">
                Update Profile
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
              </a>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <img src="{{ object.avatar.url }}" alt="">
    </div>

{% endblock %}